<app-hotel></app-hotel>
<br><br><br>
<section class="cmspage mtb-40">
  <div class="container">
    <h1>About Us</h1>
    <div class="page-desc">
      <p>This website provides angular project of different programming languages and Computer subjects.  The main purpose of this website is to provide quality learning content for students and professionals. we understand your attachment with the content, so committed for delivering you the best possible material.

is all about creativity and innovative work in the field of Technology.</p>
<p> Web site is angular based in the web develoment and front end angular is used is traning develoment.</p>

    </div>
  </div>
</section>
